<h1>商品一覧ページ</h1>
<% @items.each do |item| %>
 <div>
  <%= attachment_image_tag item, :image, :fill, 100, 100 %>
  <P>商品名：<%= item.name %></P>
  <P>商品説明：<%= item.introduction %></P>
  <P>税抜き価格：<%= item.price %></P>
  <P>ステータス：<%= item.is_active %></P>
 
 </div>
<% end %>